<h4 class="text-center"> Register to embrace a new world!</h4>

<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
        <input #emailInput formControlName="email" placeholder="email" class="form-control" autofocus >
        <app-vmessage
            *ngIf="signupForm.get('email').errors?.required"
            text="Obrigatório informar o e-mail!">
        </app-vmessage>
        <app-vmessage
            *ngIf="signupForm.get('email').errors?.email"
            text="e-mail inválido">
        </app-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="nome" placeholder="nome" class="form-control">
    </div>

    <div class="form-group">
        <input formControlName="sobrenome" placeholder="sobrenome" class="form-control">
    </div>

    <div class="form-group">
        <input formControlName="login" placeholder="usuario" class="form-control">
        <app-vmessage
            *ngIf="signupForm.get('login').errors?.required"
            text="Obrigatorio informar o usuário!">
        </app-vmessage>
        <app-vmessage
            *ngIf="signupForm.get('login').errors?.minlength"
            text="Tamanho mínimo de 2 caracteres">
        </app-vmessage>
        <app-vmessage
            *ngIf="signupForm.get('login').errors?.maxlength"
            text="Tamanho máximo de 30 caracteres">
        </app-vmessage>
        <app-vmessage
            text="usuário já cadastrado"
            *ngIf="signupForm.get('login').errors?.userNameTaken">
        </app-vmessage>
        <small *ngIf="signupForm.get('login').valid" class="text-success">Usuário válido</small>
    </div>

    <div class="form-group">
        <input formControlName="password" type="password" placeholder="senha" class="form-control">
        <app-vmessage
            *ngIf="signupForm.get('password').errors?.required"
            text="Senha Obrigatorio!">
        </app-vmessage>
        <app-vmessage
            *ngIf="signupForm.get('password').errors?.minlength"
            text="Tamanho mínimo da senha 8 caracteres">
        </app-vmessage>
        <app-vmessage
            *ngIf="signupForm.get('password').errors?.maxlength"
            text="Tamanho máximo da senha 14 caracteres">
        </app-vmessage>
    </div>

    <button [disabled]="signupForm.invalid  || signupForm.pending" class="btn btn-primary btn-block">Registrar</button>

    <p>Usuário já cadastrado? <a [routerLink]="['']">Acessar!</a></p>
</form>