<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="login()">
            <mat-form-field>
                <input type="text" matInput placeholder="E-mail" formControlName="email">
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Senha" formControlName="senha">
                <mat-error *ngIf="senha.invalid">{{getSenhaErrorMessage()}}</mat-error>
            </mat-form-field>
        
            <div class="button">
                <button [disabled]="form.invalid" type="submit" mat-button>Acessar</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>